@charset "UTF-8";
html
{
	box-sizing: border-box;
}
*, 
*:before,
*:after 
{
    box-sizing: inherit;
}

/*Phone View.*/
html, body
{
	background-color: #1B1716;
	height: 100%;
    width: 100%;
	margin: 0px;
	padding: 0px;
}

.miniLogo
{
    display: block;
    margin: 0 auto;
}

.bigLogo
{
	display: none;
}

.dropDown 
{
	display: none;
}

.table
{
	display: table;
	margin: 0 auto;
}

.ext img
{
	width: 30px;
}

.ext li
{
	display: inline-block;
	list-style-type: none;
} 

.ext a
{
	padding-left: 10px;
	padding-right: 40px;
}

#links
{
	display: block;
}

img.externalLink:hover
{
    box-shadow: 0 0 10px rgba(255,255,255, 0.6);
	/*box-shadow: 0 0 30px rgba(59,63,142, 0.6);*/
	-webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -ms-transform:scale(1.1); 
    -o-transform:scale(1.1);
     transform:scale(1.1);
}

#phoneWelcome
{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: "cochin";
	font-size: 30px;
	color: #E4E4E4;
	padding: 10px;
}

#burger
{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size:50px;  
	color:#E4E4E4;
	cursor: pointer;
}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #151211;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#x
{
    padding: 0px 8px 42px 0px;
    text-decoration: none;
    font-size: 40px;
	font-family: "verdana";
    color: #E4E4E4;
    display: block;
    transition: 0.3s;
}

.sidenav a 
{
    padding: 30px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
	font-family: "verdana";
    color: #E4E4E4;
    display: block;
    transition: 0.3s;
	border-bottom: solid 1px #E4E4E4;
}

.sidenav a:hover, .offcanvas a:focus
{
    color: #6776ED;
}

#x:hover
{
    color: #6776ED;
}

.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.phone
{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	font-family: "helvetica";
	font-size: 18px;
	color: #E4E4E4;
}

.phone h1
{
	padding: none;
	padding-top: 20px;
	text-align: center;
	font-size: 22px;
	color: #6776ED;
	
}

.phone a
{
	text-decoration: none;
	color: #E4E4E4;
}

.phone a:hover
{
	color: #6776ED;
}

#menuLink 
{
	display: none;
}

#navLinks 
{
	display: none;
}

#navLinks a
{
	display: none;
}

.nav
{
	display: none;
}

.displayed
{
	display: none;
}

#mainContainer
{
	display: none;
}

.description
{
	display: block;
    width: 310px;
	height: 60px;
	text-align: justify;
    overflow: scroll;
    font-family: "helvetica";
	font-size: 18px;
	color: #E4E4E4;		
}

.phoneVideo
{
	display: block;
    position: relative;
    float: left;
    padding-top: 40px;
}

#header
{
	display: block;
	color: #E4E4E4;
	font-family: "helvetica";
	text-align: center;
	font-size: 62px;
}

#headerMessage
{
	display: block;
	color: #E4E4E4;
	font-family: "helvetica";
	text-align: center;
}

#ok a
{
	display: block;
	color: #E4E4E4;
	font-family: "verdana";
	text-align: center;
	text-decoration: none;
}

#ok a:hover
{
	color: #FFFFFF;
	text-shadow: 0px 0px 10px #FFFFFF;
}

#ok a:active
{
	color: #6776ED;
}

#footer
{
	position: relative;
	height: 70px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	border-top-style: solid;
	border-top-color: #E4E4E4;
	border-top-width: 1px;
}

#footer p
{
	font-family: "arial";
	text-align: center;
	text-decoration-style: none;
	padding: 0px 5px 0px 5px;
	color: #E4E4E4;
}

#footer a
{
	font-family: "arial";
	text-decoration: none;
	color: #E4E4E4;
}

#footer a:hover
{
	color: #6776ED;
}

/*Tablet View.*/
@media (min-width: 700px)
{
	
	.bigLogo
	{
		display: block;
        margin: 0 auto;
		padding-right: 20px;
		padding-bottom: 0px;
	}
	
	#miniLogo
	{
		display: none;
	}
	
	.miniLogo
	{
		display: none;
	}
	
	#phoneWelcome
	{
		display: none;
	}
	
	#links
	{
		display: none;
	}
	
	.nav
	{
		display: none;
	}
	
	#burger
	{
		display: none;
	}
	
	#phoneHome
	{
		display: none;
	}
	
	.phone
	{
		display: none;
	}
	
	.dropDown 
	{
        display: block;
	    margin: 0 auto;
	    width: 100%;
        font-size: 16px;
		color: #E4E4E4;
		text-align: center;
		font-family: "verdana";
        cursor: pointer; 
    }
	
    .dropbtn:hover, .dropbtn:focus 
	{
        color: #FFFFFF;
	    text-shadow: 0px 0px 15px #FFFFFF;
    }

    .dropdownContent 
	{
        display: none;
        position: relative;
		margin: 0 auto;
	    width: 100%;
        overflow: auto;
        z-index: 1;
    }

    .dropdownContent a 
	{
        color: #E4E4E4;
        padding: 10px 10px 0px 30px;
        text-decoration: none;
		text-align: center;
	    font-family: "verdana";
        display: inline;
    }

    .dropdownContent a:hover 
	{
	    color: #FFFFFF;
		text-shadow: 0px 0px 15px #FFFFFF;
	}

    .show 
	{
		display: block;
	}
	
	.ext img
    {
	    width: 20px;
    }
	
	#mainContainer
    {
	    display: block;
    }

    .mainText
    {
	   position: relative;
	   display: block;
       margin: 0 auto;
	   bottom: 600px;
	   right: 6px;
	   width: 572px;
	   text-align: justify;
	   font-family: "helvetica";
	   font-size: 16px;
	   color: #E4E4E4;
    }
	
	.mainImage
	{
		display: block;
        margin: 0 auto;
		padding-left: 30px;
		bottom: 150px;
	}
	
	.description
    {
		display: block;
	    width: 420px;
        height: 60px;
		text-align: justify;
        overflow: scroll;
        font-family: "helvetica";
	    font-size: 18px;
	    color: #E4E4E4;		
    }

    #videoOne
    {
		display: block;
	    position: relative;
	    float: left;
	    padding-top: 40px;
	    padding-left: 120px;
	    bottom: 550px;
    }

    #videoTwo
    {
		display: block;
	    position: relative;
	    float: right;
	    padding-top: 40px;
	    padding-right: 120px;
	    bottom: 550px;
    }

    #videoThree
    {
		display: block;
	    position: relative;
	    float: left;
	    padding-top: 40px;
	    padding-left: 120px;
		bottom: 550px;
    }

    #videoFour
    {
		display: block;
	    position: relative;
	    float: right;
	    padding-top: 40px;
	    padding-right: 120px;
		bottom: 550px;
    }
	
	#header
    {
	    display: block;
	    color: #E4E4E4;
	    font-family: "helvetica";
	    text-align: center;
	    font-size: 72px;
    }
	
	#contactInfo
	{
		font-family: "helvetica";
		color: #E4E4E4;
		padding-top: 200px;
		padding-left: 16px;
	}
	
	#contactForm
	{
		position: relative;
	}
	
	#questionSubmit
	{
		font-family: "helvetica";
		color: #E4E4E4;
		top: 500px;
		width: 510px;
	}
	
	#questionSubmit textarea
	{
		width: 500px;
		height: 500px;
	}
	
	.header
	{
		font-family: "helvetica";
		color: #6776ED;
	}
	
	#footer
	{
		height: 50px;
	}
	
	#footer p
	{
		text-align: center;
		padding: 0px 0px 10px 0px;
	}
}

/*Desktop View*/
@media (min-width: 950px)
{
	.dropDown 
    {
	    display: none;
    }
	
	#navLinks
	{
		display: none;
	}
	
	.nav
    {
		display: inline;
	    position: absolute;
		bottom: 380px;
		padding-right: 60px;
		padding-bottom: 10px;
		width: 100%;
		background-color: transparent;
        font-family: "verdana";
	    font-size: 20px;
        text-align: center;
    }
	
    .nav li
    {
        display: inline;
    }
	
    .nav a
    {
        display: inline-block;
		padding: 30px;
	    text-decoration: none;
	    color: #E4E4E4;
    }

    .nav a:hover
    {
	    color: #FFFFFF;
	    text-shadow: 0px 0px 15px #FFFFFF;
    }
	
    .nav a:active
    {
	    color: #6776ED;
    }
	
	#externals
    {
	    position: absolute;
	    bottom: 610px;
	    right: 10px;
    }
	
    .ext li
    {
	    display: inline-block;
	    list-style-type: none;
	    padding-top: 30px;
    }
	
	.ext a
	{
		padding: 10px;
	}
	
	#contactInfo
	{
		font-family: "helvetica";
		color: #E4E4E4;
		padding-top: 200px;
		padding-left: 16px;
	}
	
	#address
	{
		font-family: "helvetica";
		color: #E4E4E4;
		float: right;
		position: relative;
		padding-right: 570px;
		top: 0px;
	}
	
	#contactForm
	{
		position: relative;
	}
	
	#questionSubmit
	{
		display: block;
		font-family: "helvetica";
		color: #E4E4E4;
		top: 500px;
		width: 510px;
	}
	
	#questionSubmit textarea
	{
		width: 500px;
		height: 200px;
	}
	
	#headerOne
	{
		font-family: "helvetica";
		color: #FF0000;
	}
	
	#headerTwo
	{
		font-family: "helvetica";
		color: #FF0000;
	}
	
	#headerThree
	{
		font-family: "helvetica";
		color: #FF0000;
	}
}
